<form id="form-coment" ng-submit="salvar()">
	<fieldset>
		<div class="form-group" ng-class="{'has-error':erros.nome}">
			<label for="nomeInput" class="control-label" style="color: white">Nome</label>
			<input type="text" class="form-control" name="nome" id="nome" ng-model="coment.nome" placeholder="Nome" size="50" maxlength="50" required>
			<span class="help-block">{{erros.nome}}</span>
		</div>
		<div class="form-group" ng-class="{'has-error':erros.coment}">
			<label for="comentInput" class="control-label" style="color: white">Comentário</label>
			<textarea type="text" class="form-control" name="coment" id="coment" ng-model="coment.coment" placeholder="Comentario" rows="5" cols="50" maxlength="255" required></textarea>
			<span class="help-block">{{erros.coment}}</span>
		</div>
		<input name="button" type="button" id="btnAdd" class="btn btn-success" onclick="add();" class="btn btn-success" value="Enviar comentario" />
		<img src="img/ajax.gif" ng-show="salvandoFlag">
	</fieldset>
</form>>
	
